#CORE
beautifulsoup4 
selenium==4.6.1 
webdriver_manager
opencv-python-headless

#UTILS
wheel
python-tkdnd
ttkwidgets
pyinstaller
pyinstaller-hooks-contrib
pywin32
moviepy
win32mica
sv_ttk==1.0


