#CORE
beautifulsoup4 
selenium
webdriver_manager
opencv-python-headless

#UTILS
wheel
python-tkdnd
ttkwidgets
pyinstaller==5.6.2
pyinstaller-hooks-contrib
pywin32
moviepy
win32mica
sv_ttk



